<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails du livre</title>
</head>
<body>
    <h1>Détails du livre</h1>

    <p><strong>Titre :</strong> {{ livre.titre }}</p>
    <p><strong>Auteur :</strong> {{ livre.auteur }}</p>
    <p><strong>Date de parution :</strong> {{ livre.date_parution }}</p>
    <p><strong>Nombre de pages :</strong> {{ livre.nombre_pages }}</p>
    <p><strong>Résumé :</strong> {{ livre.resume }}</p>

   <hr>

{% if livre and livre.id %}
    <a href="{% url 'bibliothequeapp:read' livre.id %}">Voir détails</a> |
    <a href="{% url 'bibliothequeapp:update' livre.id %}">Modifier</a> |
    <a href="{% url 'bibliothequeapp:delete' livre.id %}"
       onclick="return confirm('Voulez-vous vraiment supprimer ce livre ?')">Supprimer</a> |
{% endif %}

<a href="{% url 'bibliothequeapp:liste' %}">Retour à la liste</a>
</body>
</html>