<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des lampes</title>
    <!--<link rel="stylesheet" type="text/css" href="{%static 'static/static.css' %}">-->
</head>
<body>
    <h1>Liste des lampes de la boutique</h1>

    <p><a href="{'lampe/ajout'}">+ Ajouter un nouveau livre</a></p>

    {% for lampe in lampes %}
        <table>
        <thead>
            <tr>
                <th>{{ Catégorie }}</th>
                {% if type_objet == 'produit' %}
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Stock</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.nom|default:objet }}</td>
                {% if type_objet == 'produit' %}
                    <td>{{ objet.categorie }}</td>
                    <td>{{ objet.prix }} €</td>
                    <td>{{ objet.stock }}</td>
                {% endif %}
                <td>
                    <a href="#">Modifier</a> |
                    <a href="#">Supprimer</a>
                </td>
            </tr>
        {% empty %}
        <li>Aucun lampe enregistré pour le moment.</li>
    {% endfor %}
        </tbody>
    </table>

</body>
</html>