<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Liste des lampes de la boutique</h1>

    <p><a href="{'lampe/ajout/produit'}">+ Ajouter un nouveau produit</a></p>

  <table>
        <tbody>
        {% for objet in objets %}
            <tr>
                <th>{{ Produit }}</th>
                <td>{{ objet.nom|default:objet }}</td>
                {% if type_objet == 'produit' %}
                    <td>{{ objet.categorie }}</td>
                    <td>{{ objet.prix }} €</td>
                    <td>{{ objet.stock }}</td>
                {% endif %}
                <td>
                    <a href="#">Modifier</a> |
                    <a href="#">Supprimer</a>
                </td>
            </tr>
        {% empty %}
        <li>Aucun lampe enregistré pour le moment.</li>
    {% endfor %}
        </tbody>
    </table>
</body>
</html>